* {
    max-width: 100vw;
}
.title{
    font-size: 2em;
    text-align: center;
}

.container {
    width:100%;
    padding: 0 20%;
    
}
.normal{
    text-align: center;
}
#parents_div{
    width:100%;
    
    display: block;
    
}
.parent_collections{
    text-align: center;
}
.parent_collections a{
    color:black;
    
}
#all-containers{
    display:flex;
    justify-content: center;
    margin: 5vh 5vw;
}
#all-images img {
    max-width:320px;
    height:320px;
}
#shop {
    width:60vw;
    max-height: 60vh;
}
.topline{
    margin:3% auto;
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #shop{
        width:100%;
        
    }
    .container{
        padding: 0;
    }
  }